body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    color: rgb(13, 24, 18);
    text-align: center;
}
.looki{
    font-size:20px;
    color:brown;
    text-align: center;
}